.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.box{
    border-right: 2px solid red;
    border-left: 2px solid red;
    width: 33.33%;
    background-color: blanchedalmond;

}

.box-1:hover{
    background-color: red;
    width: 60%;
    transition: 600ms;
}

